extends layout

block content
  h1  ND Course Scheduler
  p by Sara Clarin and Josh Agron
  hr(size= "6" color="black")
  style.
    .flex-container {
        display: flex;
        min-width: 0;
      }
      .flex-child {
        flex-wrap: nowrap;

        flex: 1;
        border: 1px solid blue;
     }
      .flex-child: first-child {
       margin-right: 10px;
      }   

  body(style='background-color:lightblue;')
   select#selectDegree(onchange='update()')
    option(value='CSE')  Computer Science
    option(value='EE') Electrical Engineering
    option(value='CPEG') Computer Engineering
  
    p
    | Degree selected:
    span.output  

  button(name='Originalbutton', type='button', style='margin: 16px; padding: 16px; background-color: darkblue; color: aliceblue; border: none;border-radius: 4px;font-size: 12px') Original Schedule 

  button(name='TemplateButton', type='button', style='margin: 16px; padding: 16px; background-color: darkblue; color: aliceblue; border: none;border-radius: 4px;font-size: 12px') Schedule Template 
        
  .flex-container
    #templateArea.flex-child(name='templateArea')
      | Computer Science 4 Year plan
                  
    #templateArea.flex-child(name='originalArea')
      | Drag and Drop Courses below

  script.
      function update() {
      let output = document.getElementById("selectDegree").value;
      alert("weve updated");
      console.log(output);
      }  
  script(src='./template.js').

  
